[submodule "aicage-image-base"]
	path = aicage-image-base
	url = git@github.com:aicage/aicage-image-base.git
[submodule "aicage-image"]
	path = aicage-image
	url = git@github.com:aicage/aicage-image.git
[submodule "aicage-image-util"]
	path = aicage-image-util
	url = git@github.com:aicage/aicage-image-util.git
[submodule "aicage-custom-samples"]
	path = aicage-custom-samples
	url = git@github.com:aicage/aicage-custom-samples.git
